
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <thead>
        <tr>
            <th>View Prospects Board</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p><a asp-action="ViewBoard" asp-controller="Home"><img src="~/images/Prospects2.jpg" style="height: 250px" /></a></p>
            </td>
        </tr>
    </tbody>
</table>
