
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div>
        <a asp-action="ViewBoard" asp-controller="Home"><img class="grid-item1" src="~/images/Prospects2.jpg" /></a>
    </div>
    <div>
        <a asp-action="ShowDraftOrder" asp-controller="Home"><img class="grid-item2" src="~/images/DraftLottery.jpg"  /></a>
    </div>

    <div>
        <a asp-action="StartMockDraft" asp-controller="Home"><img class="grid-item3" src="~/images/2019draft.jpg" /></a>
    </div>

    <div>
        <a  asp-action="DraftResults" asp-controller="Home"><img class="grid-item4" src="~/images/DraftStagePic.jpg" /></a>
    </div>
</div>
