/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}









/*MY BAD STYLE STARTS HERE*/


div.HomePageTitle {
    text-align: center;
}

img.TeamLogo {
    height: 60px;
    width: 80px;
}

.DraftBanner {
    height: 150px;
    width: 100%;
}

.card {
    width: 200px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.playerCardBanner {
    height: 100px;
    width: 100%;
    padding-top: 30px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid black;
}

.playerAvatar {
    height: 100px;
    width: 100px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-color: #F1F1F1;
    border-radius: 100%;
}

.PlayerName {
    margin-top: 45px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #212121;
}

.playerInfo {
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    color: #9E9E9E;
    text-decoration: none;
}

.all {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 10%;
    width: 10%;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.PlayerProfileBreakDown {
    max-height: 300px;
    max-width: 600px;
}
